# Git LFS для больших файлов модели
models/*.joblib filter=lfs diff=lfs merge=lfs -text
models/labels.json filter=lfs diff=lfs merge=lfs -text
models/seen_titles.json filter=lfs diff=lfs merge=lfs -text
